html, body {
	height: 100% !important;  
	width: 100% !important;
	margin: 0px;
	background: #ddd;
	color: #000000;
	font-family:arial;
}
.page {
	padding: 20px;
}
.pageName {
	text-align: center;
	border-bottom: solid 1px #ccc;
	background: #aaa;
	-webkit-box-shadow: inset 0px 7px 12px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    inset 0px 7px 12px 0px rgba(50, 50, 50, 0.75);
box-shadow:         inset 0px 7px 12px 0px rgba(50, 50, 50, 0.75);
	padding: 5px;
   margin: 0px 0px 10px 0px;
}
input[type='text'], input[type='password'], textarea, select {
   border: 1px solid #c9b7a2;
   background: #fefefe;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   color: #444;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 1px 1px;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 1px 1px;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 1px 1px;
   padding:8px;
   margin-bottom:20px;
   width:100%;
   }

input[type='text']: focus, input[type='password']:focus, textarea:focus {
   background: #fff;
   color: #725129;
}

input:not([type="range"]), select {
   min-height: 40px;
}

select {
	min-width: 60px;
}


.width23 {
	width: 23%;
}

.label {
	font-size: 90%;
}

.form-container {
	border: 1px solid #6db3f2;
	background: #f0f9ff;
	background: -moz-linear-gradient(top,  #f0f9ff 0%, #cbebff 47%, #a1dbff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f9ff), color-stop(47%,#cbebff), color-stop(100%,#a1dbff));
	background: -webkit-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%);
	background: -o-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%);
	background: -ms-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%);
	background: linear-gradient(to bottom,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 );

   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   font-family: 'Helvetica Neue',Helvetica,sans-serif;
   text-decoration: none;
   vertical-align: middle;
   min-width:60%;
   padding:20px;
   margin: 0px auto;
}

.form-container h3 {
   text-shadow: #fdf2e4 0 1px 0;
   font-size:18px;
   margin: 0 0 10px 0;
   font-weight:bold;
   text-align:center;
    }
.form-title {
   margin-bottom:10px;
   color: #725129;
   text-shadow: #fdf2e4 0 1px 0;
}

.button-div {
   margin:8px 0;
   }
.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #C7C7C7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #C7C7C7;
	box-shadow:inset 0px 1px 0px 0px #C7C7C7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c9db2a), color-stop(1, #9AA917));
	background:-moz-linear-gradient(top, #c9db2a 5%, #9AA917 100%);
	background:-webkit-linear-gradient(top, #c9db2a 5%, #9AA917 100%);
	background:-o-linear-gradient(top, #c9db2a 5%, #9AA917 100%);
	background:-ms-linear-gradient(top, #c9db2a 5%, #9AA917 100%);
	background:linear-gradient(to bottom, #c9db2a 5%, #9AA917 100%)
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9db2a', endColorstr='#9AA917',GradientType=0);
	background-color:#c9db2a;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #8C8C8C;
	display:block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:16px;
	padding:12px;
	text-decoration:none;
	
	width: 85%;
	margin: 1px auto;
	text-align: center;
}
.button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #44211D), color-stop(1, #44211D));
	background:-moz-linear-gradient(top, #44211D 5%, #44211D 100%);
	background:-webkit-linear-gradient(top, #44211D 5%, #44211D 100%);
	background:-o-linear-gradient(top, #44211D 5%, #44211D 100%);
	background:-ms-linear-gradient(top, #44211D 5%, #44211D 100%);
	background:linear-gradient(to bottom, #44211D 5%, #44211D 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#44211D', endColorstr='#44211D',GradientType=0);
	background-color:#44211D;
}
.button:active {
	position:relative;
	top:1px;
}

.buttonGreen{
	box-shadow: 0px 1px 0px 0px #69F754 inset;
	background: #27C100 linear-gradient(to bottom, #05C100 5%, #0AA700 100%) repeat scroll 0% 0%;
	border-radius: 3px;
	border: 1px solid #1F7712;
	display: block;
	cursor: pointer;
	color: #FFF;
	font-family: arial;
	font-size: 16px;
	padding: 12px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #1B8215;
	width: 85%;
	margin: 1px auto;
	text-align: center;


}

.buttonRed{
box-shadow: 0px 1px 0px 0px #F77C54 inset;
background: #C13000 linear-gradient(to bottom, #C13000 5%, #A72900 100%) repeat scroll 0% 0%;
border-radius: 3px;
border: 1px solid #773212;
display: block;
cursor: pointer;
color: #FFF;
font-family: arial;
font-size: 16px;
padding: 12px;
text-decoration: none;
text-shadow: 0px 1px 0px #822C15;
width: 85%;
margin: 1px auto;
text-align: center;

}

.buttonYellow{
box-shadow: 0px 1px 0px 0px #EDF754 inset;
background: #C1B800 linear-gradient(to bottom, #C1B800 5%, #A7A500 100%) repeat scroll 0% 0%;
border-radius: 3px;
border: 1px solid #757712;
display: block;
cursor: pointer;
color: #FFF;
font-family: arial;
font-size: 16px;
padding: 12px;
text-decoration: none;
text-shadow: 0px 1px 0px #828115;
width: 85%;
margin: 1px auto;
text-align: center;

}
#yyyy{
	width:70px;
}

#closeSchedule{
padding:5px 7px;
}

.hidden {
	display: none;
}

.center {
	text-align: center;
}

.full {
	width: 100%;
}

.footer {
	text-align: center;
	width: 100%;
	margin: 20px 0px;
	font-size:10px;
}
.title {
	margin: 0px;
	padding: 6px 0px 6px 0px;
	text-align: center;
	display: block;
	

}
.menu {
	margin: 0px;
	padding: 0px;
	display: block;
	background: #222;
	text-align: center;
}
.menu a{
	width: 50%;
	padding: 10px 0px 10px 0px;
	margin:0px;
	background: #222;
	text-align:center;
	display: inline-block;
	text-decoration: none;
	font-size: 18px;
	color: #f7eaad;
}
.menu a:hover{
	background: #444;
}
td {
	vertical-align: top;
}