<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
	xmlns:gap   = "http://phonegap.com/ns/1.0"
	xmlns:android   = "http://schemas.android.com/apk/res/android"
	id          = "com.wingmanco.www"
	versionCode = "17" 
	version = "4.0.17" >

	<!-- versionCode is optional and Android only -->
	<preference name="orientation" value="portrait" />
	<preference name="permissions" value="none" />
	<preference name="SplashScreen" value="10000"/>
	<name>Wingman Wings Brighton</name>
	<icon platform="android" src="icon.png" />
	<description>
		Wingman Wings Brighton
	</description>
	<!--<gap:plugin name="org.apache.cordova.device" />-->


	<splash platform="android" qualifier="port-ldpi" src="res/screen/android/splash.png" />
	<splash platform="android" qualifier="port-mdpi" src="res/screen/android/splash.png" />
	
	
	<splash src="res/screen/ios/Default@2x~universal~anyany.png" />

	

	
	<splash src="splash.png" />

	<icon src="ios/icon57.png" platform="ios" width="57" height="57" />
	<icon src="ios/icon72.png" platform="ios" width="72" height="72" />
	<icon src="ios/icon76.png" platform="ios" width="76" height="76" />
	<icon src="ios/icon114.png" platform="ios" width="114" height="114" />
	<icon src="ios/icon120.png" platform="ios" width="120" height="120" />
	<icon src="ios/icon144.png" platform="ios" width="144" height="144" />
	<icon src="ios/icon152.png" platform="ios" width="152" height="152" />
	

	
	<gap:plugin name="cordova-plugin-whitelist" source="npm" />
	<plugin name="cordova-plugin-splashscreen" source="npm" />
	<plugin name="phonegap-plugin-push" spec="~1.10.5">
		
	</plugin>
	<author href="https://folos.net/" email="apps@folos.net/">
		Food Online Ordering Systems 
	</author>
	<access origin="*" />
	<!--<access origin="tel:*" launch-external="yes" />-->
	<allow-navigation href="*" />
	<allow-intent href="*" />
</widget>

