<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
	xmlns:gap   = "http://phonegap.com/ns/1.0"
	xmlns:android   = "http://schemas.android.com/apk/res/android"
	id          = "com.wingmanco.www"
	versionCode = "8" 
	version = "4.0.9" >

	<!-- versionCode is optional and Android only -->
	<preference name="orientation" value="portrait" />
	<preference name="permissions" value="none" />
	<preference name="SplashScreen" value="10000"/>
	<name>Wingman Wings Brighton</name>
	<icon src="icon.png" />
	<description>
		Wingman Wings Brighton
	</description>
	<!--<gap:plugin name="org.apache.cordova.device" />-->


	<splash platform="android" qualifier="port-ldpi" src="res/screen/android/splash.png" />
	<splash platform="android" qualifier="port-mdpi" src="res/screen/android/splash.png" />
	
	
	<splash src="res/screen/ios/Default@2x~universal~anyany.png" />

	

	
	<splash src="splash.png" />
	

	
	<gap:plugin name="cordova-plugin-whitelist" source="npm" />
	<plugin name="cordova-plugin-splashscreen" source="npm" />
	<plugin name="phonegap-plugin-push" spec="~1.10.5">
		
	</plugin>
	<author href="https://folos.net/" email="apps@folos.net/">
		Food Online Ordering Systems 
	</author>
	<access origin="tel:*" launch-external="yes" />
	<access origin="*" />
</widget>

