<?xml version='1.0' encoding='utf-8'?>
<plugin id="com-moduscreate-plugins-echo" version="0.0.2" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <platform name="android">

    <!-- these give a lot of peeps trouble, esp on build.phonegap.com, so not using them -->
    <framework src="com.google.android.gms:play-services-plus:+" />
    <framework src="com.google.android.gms:play-services-identity:+" />
    <!-- <dependency id="cordova-plugin-googleplayservices" /> -->

   

   
  </platform>
  
</plugin>
